{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}

      {% if recipeIsValid %}

          <div class="row border-bottom border-3">
              <div class="col"><h3 class="color-header text-uppercase">Szczegóły
                  przepisu</h3></div>
              <div class="col d-flex justify-content-end mb-2"><a
                      href="/recipe/list/"
                      class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
              </div>
          </div>

          <table class="table borderless">
              <tbody>
              <tr class="d-flex">
                  <th scope="row" class="col-2">Nazwa Przepisu</th>
                  <td class="col-7">
                      {{recipe.name}}
                  </td>
              </tr>
              <tr class="d-flex">
                  <th scope="row" class="col-2">Opis przepisu</th>
                  <td class="col-7">{{recipe.description}}
                  </td>
              </tr>
              <tr class="d-flex">
                  <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                  <td class="col-7">
                      {{recipe.preparation_time}}
                  </td>
              </tr>
              <tr class="d-flex">
                  <th scope="row" class="col-2">Liczba polubień</th>
                  <td class="col-7">
                      {{recipe.votes}}
                  </td>
              </tr>
              </tbody>
          </table>

          <div class="row d-flex">
              <div class="col-5 border-bottom border-3"><h3
                      class="text-uppercase">Sposób przygotowania</h3></div>
              <div class="col-2"></div>
              <div class="col-5 border-bottom border-3"><h3
                      class="text-uppercase">Składniki</h3></div>
          </div>
          <div class="row d-flex">
              <div class="col-5 p-4">
                  <p> {{recipe.preparation}}</p>
              </div>
              <div class="col-2"></div>
              <ul class="col-5 p-4 list-unstyled">
                {% for r in ingredients_arr %}
                  <li>{{r}}</li>
                {% endfor %}
              </ul>
          </div>

          <form action="/recipe/{{ recipe.pk }}/" method="post">
              <div class="row border-bottom border-3 p-1 m-1">
                  <div class="col noPadding">
                      <h3 class="color-header text-uppercase">OCEŃ PRZEPIS</h3>
                      <h2>{{ null_field }}</h2>
                  </div>
              </div>

              <table class="table borderless">
                  <tbody>
                  <tr class="d-flex">
                      <th scope="row" class="col-2">ID</th>
                      <td class="col-7">
                          {{recipe.pk}}
                      </td>
                  </tr>
                  <tr class="d-flex">
                      <th scope="row" class="col-2">
                          <button type="submit" name = "like" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Lubie Przepis</button>
                          <button type="submit" name = "dislike" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Nie Lubie Przepisu</button>
                      </th>
                      <td class="col-7"></td>
                  </tr>
              </table>

              {% csrf_token %}
            </form>

          {% else %}
            {{ error }}<br><br>
          {% endif %}


{% endblock content %}
