{% extends "__base__.html" %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
  <form method="post">
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">Zakoncz zmiany</h3>
            <h2>{{ null_field }}</h2>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
          <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Zakoncz</button>
        </div>
    </div>
    {% csrf_token %}
    </form>
    <div>  <a href="/contact" class="button">Kontakt</a><br>
       <a href="/about" class="button">O aplikacji</a><br>
     </div>
</div>
{% endblock content %}

{% block title %}{% endblock %}
